= content_for(:page_id, 'auth')

.auth-form.sign-in-form
  - if resource_name == :user
    %hr

  = form_for @user, url: user_session_path, html: { class: "form" } do |f|
    %h1 Connectez-vous

    = f.label :login, "Login ul"
    = f.text_field :login, autofocus: true

    = f.label :encrypted_password, "Mot de passe"
    = f.password_field :encrypted_password, value: @user.encrypted_password, placeholder: "MDP UL"

    .auth-options
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me, as: :boolean
          = f.label :remember_me, "Se souvenir de moi", class: 'remember-me'


    = f.submit "Se connecter", class: "button large primary expand"

  = render partial: 'shared/france_connect_login', locals: { url: france_connect_particulier_path }
